@import url('https://cdn.jsdelivr.net/gh/orioncactus/suit@v1.0.6/dist/variable.min.css');
@import 'tailwindcss';

@theme {
  --color-primary: #1fafa3;

  --color-green-lightest: #e9fbfa;
  --color-green-lighter: #b1e2dc;
  --color-green-light: #94d5ce;
  --color-green-medium: #75c9bf;
  --color-green-neutral: #53bcb1;
  --color-green-primary: #1fafa3;
  --color-green-bold: #0aa99c;
  --color-green-strong: #1d857c;
  --color-green-dark: #195d56;
  --color-green-darker: #123734;
  --color-green-darkest: #041614;

  --color-gray-white: #ffffff;
  --color-gray-10: #e7eaea;
  --color-gray-50: #dadddd;
  --color-gray-100: #ced1d1;
  --color-gray-200: #a9adad;
  --color-gray-300: #858a8a;
  --color-gray-400: #737777;
  --color-gray-500: #595c5c;
  --color-gray-600: #474a4a;
  --color-gray-700: #2f3131;
  --color-gray-800: #222726;
  --color-gray-900: #171c1b;

  --color-gray-alpha-10: color-mix(in srgb, #171c1b 3%, transparent);
  --color-gray-alpha-50: color-mix(in srgb, #171c1b 5%, transparent);
  --color-gray-alpha-100: color-mix(in srgb, #171c1b 10%, transparent);
  --color-gray-alpha-200: color-mix(in srgb, #171c1b 20%, transparent);
  --color-gray-alpha-300: color-mix(in srgb, #171c1b 30%, transparent);
  --color-gray-alpha-400: color-mix(in srgb, #171c1b 40%, transparent);
  --color-gray-alpha-500: color-mix(in srgb, #171c1b 50%, transparent);
  --color-gray-alpha-600: color-mix(in srgb, #171c1b 60%, transparent);
  --color-gray-alpha-700: color-mix(in srgb, #171c1b 70%, transparent);
  --color-gray-alpha-800: color-mix(in srgb, #171c1b 80%, transparent);
  --color-gray-alpha-900: color-mix(in srgb, #171c1b 90%, transparent);

  --color-primary-base: #f1f2f6;
  --color-primary-white: #ffffff;
  --color-dim: color-mix(in srgb, #171c1b 50%, transparent);
  --color-negative: #e65a5a;
  --color-disabled: #f0f1f1;

  --color-text-white: #ffffff;
  --color-text-disable: #a9adad;
  --color-text-caption: #858a8a;
  --color-text-description: #474a4a;
  --color-text-default: #171c1b;

  --color-icon-white: #ffffff;
  --color-icon-disabled: #ced1d1;
  --color-icon-quaternary: #a9adad;
  --color-icon-tertiary: #595c5c;
  --color-icon-secondary: #2f3131;
  --color-icon-primary: #171c1b;

  --color-background-primary-base: #f1f2f6;
  --color-background-primary-white: #ffffff;

  --color-border-default: #ced1d1;
  --color-border-white: #ffffff;

  --font-sans: 'SUIT Variable', 'SUIT', sans-serif;

  --text-headline1: 2.4rem;
  --text-headline2: 2rem;
  --text-title1: 1.8rem;
  --text-body1: 1.6rem;
  --text-body2: 1.4rem;
  --text-caption1: 1.2rem;

  --leading-headline1: 1.35;
  --leading-headline2: 1.4;
  --leading-title1: 1.4;
  --leading-body1: 1.5;
  --leading-body2: 1.5;
  --leading-caption1: 1.4;
}

@utility headline1-medium {
  font-family: var(--font-sans);
  font-size: var(--text-headline1);
  line-height: var(--leading-headline1);
  font-weight: 500;
}

@utility headline1-bold {
  font-family: var(--font-sans);
  font-size: var(--text-headline1);
  line-height: var(--leading-headline1);
  font-weight: 700;
}

@utility headline1-extrabold {
  font-family: var(--font-sans);
  font-size: var(--text-headline1);
  line-height: var(--leading-headline1);
  font-weight: 800;
}

@utility headline2-medium {
  font-family: var(--font-sans);
  font-size: var(--text-headline2);
  line-height: var(--leading-headline2);
  font-weight: 500;
}

@utility headline2-bold {
  font-family: var(--font-sans);
  font-size: var(--text-headline2);
  line-height: var(--leading-headline2);
  font-weight: 700;
}

@utility headline2-extrabold {
  font-family: var(--font-sans);
  font-size: var(--text-headline2);
  line-height: var(--leading-headline2);
  font-weight: 800;
}

@utility title1-medium {
  font-family: var(--font-sans);
  font-size: var(--text-title1);
  line-height: var(--leading-title1);
  font-weight: 500;
}

@utility title1-bold {
  font-family: var(--font-sans);
  font-size: var(--text-title1);
  line-height: var(--leading-title1);
  font-weight: 700;
}

@utility body1-medium {
  font-family: var(--font-sans);
  font-size: var(--text-body1);
  line-height: var(--leading-body1);
  font-weight: 500;
}

@utility body1-bold {
  font-family: var(--font-sans);
  font-size: var(--text-body1);
  line-height: var(--leading-body1);
  font-weight: 700;
}

@utility body2-medium {
  font-family: var(--font-sans);
  font-size: var(--text-body2);
  line-height: var(--leading-body2);
  font-weight: 500;
}

@utility body2-semibold {
  font-family: var(--font-sans);
  font-size: var(--text-body2);
  line-height: var(--leading-body2);
  font-weight: 600;
}

@utility body2-bold {
  font-family: var(--font-sans);
  font-size: var(--text-body2);
  line-height: var(--leading-body2);
  font-weight: 700;
}

@utility caption1-medium {
  font-family: var(--font-sans);
  font-size: var(--text-caption1);
  line-height: var(--leading-caption1);
  font-weight: 500;
}

@utility caption1-bold {
  font-family: var(--font-sans);
  font-size: var(--text-caption1);
  line-height: var(--leading-caption1);
  font-weight: 700;
}

@layer base {
  html {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: var(--font-sans);
  }
}
